body{
  margin: 0px;
  font-size: 12pt;
}
* { 
  font-family: 'Lato', Helvetica, sans-serif
}

nav{
  height: 75px;
}
nav ul{
  padding: 0px;
  margin: 0px;
}

nav.navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
  width: calc(100% - 30px);
  background: black;
  color: #fefefe;
}

.nav-title{
 padding-left: 15px;
 padding-right: 15px;
}

nav li {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-section{
  width: 100%;
  /* display: flex;
  flex-direction: row; */
}

.nav-section > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}

nav a{
  text-decoration: none;
}

nav a:link{
  color: #efefef;
}

nav a:visited{
  color: #999;
}

nav a:hover{
  color: green;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
  bottom: 0px;
  margin: 0px;
  padding: 40px 0px 40px 0px;

}
a:link{
  text-decoration: none;
  transition: .2s;
}
footer a:link {
  color: #bbb;
}

footer a:visited {
  color: #777;
}
footer a:hover {
  color: rgb(136, 224, 250);
}
footer a:active {
  color: rgb(218, 218, 218);
}

footer section{
  padding-left: 30px;
  padding-right: 30px;
}

footer li {
  list-style: none;
}

footer ul{
  padding-left: 0px;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Open Sans:800', Helvetica, sans-serif
}

h1 {
  font-size: 2em;
}

footer h1{
  font-family: 'Open Sans:800', Helvetica, sans-serif
}

body > section {
  padding: 30px 45px 30px 45px;
}

.alert{
  --display: flex;
  display: var(--display);
  justify-content: space-between;
  margin: 5px;
  background-color: rgb(180, 230, 235);
  border: 1px solid rgb(11, 149, 159);
  border-radius: 10px;
  padding: 15px;
  font-size: 1.5em;
  transition: 1s;
}

.warning{
  background-color: rgb(232, 213, 6);
  border: 1px solid rgb(211, 180, 3);
}

.error{
  background-color: rgb(252, 149, 147);
  border: 3px solid rgb(186, 38, 21);
}

/* .alert::after {
  content: '<span>x</span>';
  top: 3px;
  right: 3px;
  margin: 5px;

} */

.hide {
  display:hidden;
}